<div class="container center add-cafe-container">
<h2 class="d-block">Add a new café</h2>


{{#if error}}
<div class="alert alert-danger">
  {{error}}
</div>
{{/if}}

<form class="" action="/auth/add-cafe" method="POST" enctype="multipart/form-data">

<div class="input">
  <label class="d-block">Name:</label>
    <input type="text" name="name"> <br>
</div>
  <br><br>

<div class="input">
<label>Opening hours:</label>
  <input type="time" name="start" min="0:00" max="24:00" required>
  until
  <input type="time" name="end" min="0:00" max="24:00" required>
 </div>     
 
 <div class="input">
  <label class="d-block">Wifi</label>
  <label class="switch">
  <input class="toggle-switch" type="checkbox" name="wifi" value="1">
  <span class="slider round"></span>
 </label>
 </div>
 
<div class="input">
 <label class="d-block">Power outlet</label>
  <label class="switch">
  <input class="toggle-switch" type="checkbox" name="powerSocket" value="1">
  <span class="slider round"></span>
 </label>
</div>



  <label class="d-block">Location:</label>
  <div class="input-group mb-3">
  <div id='geocoderAddCafe' class='geocoder'>  </div>
</div>

<div id='mapAddCafe'></div>
<div class="hidden">
    <input type="text" name="latitude" id="lat" placeholder="latitude" >
    <input type="text" name="longitude" id="lng" placeholder="longitude">
    <input type="text" name="address" id="address" placeholder="address">
    </div>
  <br><br>

<div class="input">
  <label>Upload a picture</label>
  <input type="file" name="photo" class="profile-btns">
  <br><br>
 <button type="submit" class="profile-btns btn mb-4">Add a new café</button>
 </div>
</form>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<script src="/javascripts/script.js"></script>


<script>

  mapboxgl.accessToken = "{{mapboxAPIKey}}";
  var map = new mapboxgl.Map({
    container: 'mapAddCafe',
    center: [13.1445545, 52.5065133], // starting position [longitude,latitude]
    zoom: 9, // starting zoom
    style: 'mapbox://styles/mapbox/streets-v9',
  });

  
  map.addControl(new mapboxgl.NavigationControl())
  
  var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    placeholder: "Add address of café",
  });

lat = map.boxZoom._map.transform._center.lat
lng = map.boxZoom._map.transform._center.lng
document.getElementById("lat").value = lat
document.getElementById("lng").value = lng
console.log(`https://api.mapbox.com/geocoding/v5/mapbox.places/${lng},${lat}.json?access_token=pk.eyJ1IjoibWF0dGhpYXNmcml0eiIsImEiOiJjam9mbGo1OXgwNTh6M2txemw4aWNjMTgwIn0.cgF_suP2Mh9JtoKF20kjyQ`)
axios.get(`https://api.mapbox.com/geocoding/v5/mapbox.places/${lng},${lat}.json?access_token=pk.eyJ1IjoibWF0dGhpYXNmcml0eiIsImEiOiJjam9mbGo1OXgwNTh6M2txemw4aWNjMTgwIn0.cgF_suP2Mh9JtoKF20kjyQ`)
.then (res => {
  document.getElementById("address").value = res.data.features[0].place_name
})

map.on("moveend", ()=> {
lat = map.boxZoom._map.transform._center.lat
lng = map.boxZoom._map.transform._center.lng
document.getElementById("lat").value = lat
document.getElementById("lng").value = lng
console.log(`https://api.mapbox.com/geocoding/v5/mapbox.places/${lng},${lat}.json?access_token=pk.eyJ1IjoibWF0dGhpYXNmcml0eiIsImEiOiJjam9mbGo1OXgwNTh6M2txemw4aWNjMTgwIn0.cgF_suP2Mh9JtoKF20kjyQ`)
axios.get(`https://api.mapbox.com/geocoding/v5/mapbox.places/${lng},${lat}.json?access_token=pk.eyJ1IjoibWF0dGhpYXNmcml0eiIsImEiOiJjam9mbGo1OXgwNTh6M2txemw4aWNjMTgwIn0.cgF_suP2Mh9JtoKF20kjyQ`)
.then (res => {
  document.getElementById("address").value = res.data.features[0].place_name
})

})






document.getElementById('geocoderAddCafe').appendChild(geocoder.onAdd(map));


</script>
