<h2>Edit your profile</h2>

{{#if error}}
<div class="alert-red">
  {{error}}
</div>
{{/if}}

<form action="/auth/profile/edit" method="post" enctype="multipart/form-data">
  About me: <textarea name="about" cols="30" rows="10"></textarea> <br>
  Profile picture: <input type="file" name="photo"> <br>
  <button type="submit">Update profile</button>
</form>