<div class="bg-container">
<div class="form-container">
<div class="profile-container">

<div class="">
<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <div class="form-group">

<div class="input">
  <label for="username">Username</label>
  <input class="form-control" id="username" type="text" name="username" placeholder="Coffee Lover">
</div>

  <br><br>

<div class="input">
  <label for="password">Password</label>
  <input class="form-control" id="password" type="password" name="password" placeholder="Your password">
  <br>
</div>

  {{#if message }}
    <div class="alert alert-danger">{{ message }}</div>
  {{/if}}

  <br><br>

<div class="btn-div">
  <button class="profile-btns btn">Login</button>
</div>

  <div class="account-message">
    <p>Don't have an account yet?</p>
    <a href="/auth/signup">Signup</a>
  </div>
  </div>
</form>
</div>
