


<div class="confirm">
<h2>Please validate your account first!</h2>
<br><br>

<p>Please validate your account with the code send to you by email. After validation process you will be able to new add cafés to the map. Thank you!</p>
<br><br>
<img src="https://res.cloudinary.com/dpjdxqrce/image/upload/v1542291446/worst-video-users/Coffee_heart.jpeg.jpg" height="200px" alt="landing page picture" class="confirm img"><br>
</div>