<h3>create a place</h3>
<form action='/add' method='post'>

<label for="name">name:</label>
 <input type="text" name="name" placeholder="name">

<select name='kind'>
   <option value='Coffeeshop'>Coffeeshop</option>
  <option value='Bookstore'>Bookstore</option>
 </select>



 <label for="lng">lng:</label>
 <input type="text" name="lng" placeholder="12.2222">

 <label for="lat">lat:</label>
 <input type="text" name="lat" placeholder="53.2222">
 
 <button class = “button” type=“submit”>Add Place</button>
 </form>