<div class="about-container">
<div class="about-text">
  <h1>About us</h1>

  <p>We are passionated about two things in life: work and coffee. Working hard makes us drink more coffee. And with more coffee we can work longer! Sounds great, doesn't it?! Therefore we decided to make this page, to share our passions with YOU!</p>

  <h3 class="h3">Ute</h3>

  <p>Our most beloved employee Ute spend hours and hours to find the best cafés just for you! Sleep is not an option for her during this process.</p>

  <img src="https://res.cloudinary.com/dpjdxqrce/image/upload/v1542290927/worst-video-users/Ute.png.png" alt="Ute" class="profile-picture">

  <p class="about-ute">&copy;cubecats <i>https://www.instagram.com/cubecats/</i></p>

<h3 class="h3">Our awesome office</h3>
<p>To celebrate our "can do" mentality we decorated our office with many inspirational quotes to keep us motivated to work harder and, of course, drink more coffee.</p>
<div class="confirm-img">
<img src="https://res.cloudinary.com/dpjdxqrce/image/upload/v1542291341/worst-video-users/office.jpg.jpg" alt="office picture" class="img-about">
</div>
</div>

</div>
</div>
</div>
