<div class="about">
  <div class="about-text">
<h2>About us</h2>

<p>We are passionated about two things in life: work and coffee. Working hard makes us drink more coffee. And with more coffee we can work longer! Sounds great, doesn't it?! Therefore we decided to make this page, to share our passions with YOU!</p>

<h3>All about Ute</h3>
<p>Our most beloved employee Ute spend hours and hours to find the best cafés just for you! Sleep is not an option for her during this process. </p>
<img src="/images/Ute.png" alt="Ute" class="img-about">

<h3>Take a look at our awesome office</h3>

<p>To celebrate our "can do" mentality we decorated our office with many inspirational quotes to keep us motivated to work harder and, of course, drink more coffee.</p>
<div class="confirm img">
<img src="/images/office.jpg" alt="office picture" class="img-about">
</div>
</div>

</div>
