<div class="landing-page">
    <div class="landing container">
<h1>{{title}}</h1>

<div class="btn-div">
<button class="landing-btn"><a href="/main">Need coffee?</a></button><br>
</div>

<p class="account-message">
    Do you already have an account?
    <br><br>
    <a href="/auth/login">Login</a>
</p>
</div>
</div>
