<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src="/images/hilthart-pedersen-602249-unsplash.jpg" height="200px" alt="landing page picture">

<p>Sign up to get access to all the worst videos of the day!</p>

<button><a href="auth/signup">Get startet</a></button>

<p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
</p>