<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src="/images/hilthart-pedersen-602249-unsplash.jpg" height="200px" alt="landing page picture"><br>

<button><a href="/main">Need coffee?</a></button><br>

<p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
</p>

