<div class="landing-page">
<div class="container">

<h1>{{title}}</h1>


<div class="btn-div">
<a class="btn btn-primary" href="/main" >Need coffee?</a>
</div>

<p class="account-message">
    Do you already have an account?
    <br><br>
    <a href="/auth/login">Login</a>
</p>
</div>
</div>
