<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/main">Map</a>
    <a href="/about">About</a>
    {{#if isConnected}}
    <a href="/auth/profile">Profile</a>
    <a href="/auth/add-cafe">Add café</a>
    <a href="/auth/logout">Logout</a>
    <a href="/auth/profile">Profile</a>

    {{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/if}}
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>