<br>
<h3>Coffee-Places</h3>



<div class="input-group mb-3">
  <div id='geocoder' class='geocoder'></div>
</div>

<div id='map' style='width: 800px; height: 500px;'></div>


<script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<script src="/javascripts/script.js"></script>


<script>

  mapboxgl.accessToken = "{{mapboxAPIKey}}";
  var map = new mapboxgl.Map({
    container: 'map',
    center: [13.1445545, 52.5065133], // starting position [longitude,latitude]
    zoom: 8, // starting zoom
    style: 'mapbox://styles/mapbox/streets-v9',
  });

  var popup = new mapboxgl.Popup({ offset: 25 })
    .setHTML('<ul><li>Name: Cool Cafe</li><li>Adress: Straße des Cafés</li><a href="/login">Show more</a></ul>');



  map.addControl(new mapboxgl.NavigationControl())

  let marker1 = new mapboxgl.Marker({
    color: '#222222' // Black
  })
    .setLngLat([13.3711224, 52.5063688])
    .setPopup(popup)
    .addTo(map)




  var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    placeholder: "Search Café"
  });


  

  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));


</script>