
<form action="/auth/profile-question" method="POST" id="form-container">
<div class="profile-question-page">
  <div class="round">
<h1>Your favorite drink?</h1>
<input type="text" name="drink" autofocus>
</div>
  <button id="btn-submit" type="submit" class="profile-btns btn mt-4">GO</button>

  </div>