<h3>Edit</h3>
<form action='/edit/{{place._id}}' method='post'>

<label for="name">name:</label>
 <input type="text" name="name" value='{{place.name}}'>



<select name='kind'>
   <option value='Coffeeshop'>Coffeeshop</option>
  <option value='Bookstore'>Bookstore</option>
 </select>



 <label for="lng">lng:</label>
 <input type="text" name="lng" value={{lat}}>

 <label for="lat">lat:</label>
 <input type="text" name="lat"  value={{lng}}>
 
 <button class = “button” type=“submit”>Edit Place</button>
 </form>